<div class="top-row ps-3 navbar navbar-dark" style="background-color: #007bff;">

    <div class="container-fluid">

        <span class="navbar-brand text-white" @onclick="ToggleNavMenu" style="cursor: pointer;">

            <i class="bi bi-bag-fill"></i>

        </span>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">

            <span class="bi bi-list" style="color: white;"></span>

        </button>

    </div>

</div>


<div class="@NavMenuCssClass nav-scrollable">

    <nav class="flex-column">

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="Home" Match="NavLinkMatch.All">

                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home

            </NavLink>

        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="usuarios">

                <span class="bi bi-people-fill" aria-hidden="true"></span> Usuarios

            </NavLink>

        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="productos">

                <span class="bi bi-box-seam" aria-hidden="true"></span> Productos

            </NavLink>

        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="ecommerce">

                <span class="bi bi-cart-fill" aria-hidden="true"></span> E-commerce

            </NavLink>

        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="clientes">

                <span class="bi bi-person-check-fill" aria-hidden="true"></span> Clientes

            </NavLink>

        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="ventas">

                <span class="bi bi-receipt" aria-hidden="true"></span> Ventas

            </NavLink>

        </div>

        <div class="nav-item px-3">

            <NavLink class="nav-link" href="sedes">

                <span class="bi bi-geo-alt-fill" aria-hidden="true"></span> Sedes

            </NavLink>

        </div>

    </nav>

</div>


@code {

    private bool collapseNavMenu = true;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;


    private void ToggleNavMenu()

    {

        collapseNavMenu = !collapseNavMenu;

    }

}
