@page "/"
@layout LoginLayout

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="#" class="h1"><b>Venta</b> de <b>Accesorios</b></a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Iniciar Sesión</p>

            <form>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Correo">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Contraseña">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-primary btn-block" onclick="">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@code {
    
}
